atmosphere/contents/0100B2C016252000/romfs/TexturePacks/swpc_tex_tpc.erf filter=lfs diff=lfs merge=lfs -text
*.erf filter=lfs diff=lfs merge=lfs -text
atmosphere/contents/0100B2C016252000/romfs/Movies/credittslrcm.bik filter=lfs diff=lfs merge=lfs -text
